.pdrtable {width: auto; 
	border-collapse: separate; 
	border-spacing: 2px; 
	border-color: grey;}

.pdrth {background-color: #628DB6; 
	color: #f8f8f8;}


.pdrthgold {background-color: #FFCC00;}

